[Desktop Entry]
Type=Application
Name=WattSeal
Comment=Real-time PC power consumption monitor
Exec=WattSeal
Icon=WattSeal
Categories=Utility;System;Monitor;
Terminal=false
